* {
    box-sizing: border-box;
}

html {
    padding: 0;
}

body{
    margin: 0;
    font-size: 24px;

    font-family:'Times New Roman', Times, serif;
}

.parent{
    text-align: center;
}

.container {
    display: inline-block;

    width: 600px;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

    background-color: blue;
    color: white;

    font-size: 16px;
    text-align: left;
}