* {
    box-sizing: border-box;
}

html {
    padding: 0;
}

body{
    margin: 0;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
}

.content {
    padding: 5px 5px;
}

.content-boxes {
    padding: 0;
    margin: 0;
}

.box {
    vertical-align: top;
}

.box1 {
    position: absolute;

    width: 250px;
    height: 100px;

    left: -250px; 
    right: 0;
    top: 0;
    bottom: 0;

    background-color: bisque;

    padding-top: 5px;
}

.box2 {
    max-width: calc(100vw - 255px);
    min-width: 0px;

    margin-left: 255px;

    background-color: gray;

    position: relative;
}

.box3 {
    position:absolute;
    left: -250px; 
    right: 0;
    top: 100px;
    bottom: 0;

    width: 250px;
    height: calc(100% - 100px);


    background-color: aqua;
    
}

.fixed-div {
    position: fixed;

    width: 100vw;
    height: 50px;

    background-color: green;

    top: calc(100vh - 50px);

}